*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
.DS_Store
*.swp
*~
workspace/
_minted*/
*.pdf
!main.pdf
!images/*.pdf
